/* CASM custom .css */

/* Google web fonts @imports */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:600);



/* Framework */

body { 
    font-family: 'Open Sans', sans-serif;
}
.row {
  max-width: 100% !important;
}
.container {
    float:none;
    max-width:1280px;
    margin:0 auto;
}
.button {
    background:#e3dc11;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:15px 40px;
    font-size:13pt;
    text-transform:uppercase;
    color:#182f58;
    font-weight:bold;
    letter-spacing:1px;
}
.hvr-sweep-to-top {
    background:#e3dc11 !important;
}
.button:before {
    background:#182f58;
    color:#e3dc11;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}
.clear {
    clear:both;
    height:55px;
}



/* Navigation */

#nav {
    background:#182f58 url(../img/nav-bg.jpg) repeat top left;
}
#nav ul {
    list-style:none;
    width:1010px;
    margin:0 auto;
}
#nav ul li {
    float:left;
}
#nav ul li a {
    padding:30px 25px;
    display:block;
    color:#fff; 
}
#nav ul li a:hover {
    color:#e3dc11;
}
#nav ul li:nth-child(3) a {
    padding:0 25px !important;
}    
.hvr-underline-reveal:before {
  background: #e3dc11 !important;
}

/* Slider */

#slider .container {
    display:block;
    padding:0 !important;
}

/* Content */

.content {
    display:block;
    padding:55px 0 !important;
}
.content h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size:21pt;
    margin:15px 0;
}
.content p {
    font-size:13pt;
    line-height:1.7;
}  

/* Affiliates */

.affiliates {
    margin:55px 0;
}
.affiliates img {
    margin-left:60px;
}

/* Banner */

.banner .container {
    display:block;
    padding:0 !important;
}
.banner h2 {
    position:absolute;
    top:18%;
    left:15%;
    color:#fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight:bold;
    font-size:28pt;
}
.banner p {
    position:absolute;
    top:31%;
    left:15%;
    color:#fff;
    font-size:14pt;
    line-height:1.7;
    width:40%;
}
.banner .button {
    position:absolute;
    top:68%;
    left:15%;    
}



/* Footer */

#footer {
    background:#182f58;
    padding:60px 0;
    color:#fff;
    font-size:14pt;
}
#footer a {
    color:#fff;
}
#footer a:hover {
    color:#e3dc11;    
}
ul.social {
    list-style:none;
    margin:0 0 30px 0;
    clear:both;
    display:table;
}
ul.social li {
    float:left;
    margin-right:15px;
}

.copy {
    color:#5693ce;
    font-size:10pt;
}

.yellow {
    color:#f3e503;
}

#newsletter {
    width:90%;
    padding:20px 5%;
    background:#3a4c6d;
}

#newsletter input,#newsletter textarea {
    border:1px solid #fff;
    background:transparent;
    color:#fff;
    padding:10px 10px;
    width:100%;
    margin:10px 0;
    font-family: 'Open Sans', sans-serif;
    font-size:11pt;
}
#newsletter input[type=submit] {
    background:#f3e503;
    color:#182f58;
    border:1px solid #f3e503;
    display:run-in;
    font-size:13pt;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:1px;
}
#newsletter input[type=submit]:hover {
    background:#182f58;
    color:#f3e503;
    cursor:pointer;
}